<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('VIEW列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:message:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:message:remove')}]];
        var stateDatas = [[${@dict.getType('type_message')}]];
        var prefix = ctx + "system/message";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "VIEW",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'content', 
                    title : '标题'
                },
                {
                    field : 'type', 
                    title : '内容'
                },
                {
                    field : 'time', 
                    title : '发布时间'
                },
                {
                    field : 'state', 
                    title : '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(stateDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="switchtable()"><i class="fa fa-remove"></i>弹框</a>');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>改为已读</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        /* 弹出表格 */
        function switchtable() {
            layer.open({
                type : 2,
                shadeClose : true,
                title : "告警通知",
                area : ["600px", "300px"],
                content :[ctx + "system/message", 'no']
            })
        }
        // var rows=$('#xqjhDetails_table').bootstrapTable('getData')
        // var selected = $("#puBmxqjh_table").bootstrapTable('getSelections');
        // alert(selected)
        $('#table').bootstrapTable({
            columns: options,
            data: "system/message/lists",
            onDblClickRow: function(row,field) {

                //var one=row.ProductName;
                //$("#message-text").text(one);
                //alert(row)
                var one =row.title;
                alert(one);
            }
        });


    </script>
</body>
</html>