<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('实时遥测曲线列表')"/>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts.min.js"
            th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>


</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-2">
            目录树


        </div>

        <div class="col-sm-10  table-striped">
            <table id="bootstrap-table"></table>
            <div class="col-sm-12" id="totalFlowRate" style="height:300px;"></div>
        </div>


    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:real:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:real:remove')}]];
    var prefix = ctx + "system/real";

    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "实时遥测曲线",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '序号',
                    visible: false
                },
                {
                    field: 'groupsname',
                    title: '分组名称'
                },
                {
                    field: 'measurename',
                    title: '测量点名称'
                },
                {
                    field: 'signname',
                    title: '信号名称'
                },
                {
                    field: 'meanehiletime',
                    title: '同步时间'
                },
                {
                    field: 'insidevalue',
                    title: '内部限值'
                },
                {
                    field: 'regulationvalue',
                    title: '法规限值'
                },
                {
                    field: 'indication',
                    title: '示值'
                },
                {
                    field: 'unit',
                    title: '单位'
                }]
        };
        $.table.init(options);
    });
    var totalFlowRate = echarts.init(document.getElementById('totalFlowRate'));
    var xAxisData = [];
    var yAxisData = [];
    $.ajax({
        type: "GET",
        url: "/system/real/lists",
        dataType: "json",
        async: false,
        success: function (result) {
            for (var i = 0; i < result.length; i++) {
                xAxisData.push(result[i].meanehiletime);
                yAxisData.push(result[i].indication);
            }
        },
        error: function (errorMsg) {
            alert("获取后台数据失败！");
        }
    });

    var totalFlowRateOption = {
        animation: false,
        title: {
            text: '总功率因数实时曲线',
            x: 'center'


            /*,
                    left:"110px"*/
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            }
        },
        grid: {
            left: 50 /*"50px"*/,
            right: 15 /*"15px"*/
        },
        legend: {
            data: ['当前流量'],
            x: 'left'
        },
        xAxis: {
            boundaryGap: false,
            data: xAxisData,
            axisLabel:{
                //X轴刻度配置
                interval: 1 //0：表示全部显示不间隔；auto:表示自动根据刻度个数和宽度自动设置间隔个数
            }
        },
        yAxis: {
            boundaryGap: false
        },
        series: {
            //symbol: "none",
            /*去掉小圆点*/
            name: '当前流量',
            type: 'line',
            data: yAxisData,
            //smooth: true   //显示为平滑的曲线
        }
    };

    totalFlowRate.setOption(totalFlowRateOption);

</script>

</body>
</html>