<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('实时遥测曲线列表')"/>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts.min.js"
            th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery.ztree.all.min.js"
            th:src="@{/js/jquery.ztree.all.min.js}"></script>
    <link rel="stylesheet" href="${pageContext.request.contextPath}/css/zTreeStyle/zTreeStyle.css"
            th:href="@{/css/zTreeStyle/zTreeStyle.css}">


    <style>

    </style>



</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-2" style="color: #000;font-size: 16px;">
            <h3 style="    margin-bottom: 9px;margin-top: 18px;font-weight: bold;/*加粗*/text-align:center;   /* 水平居中 */color: #000;font-size: 24px;">
                表计名称</h3>
            <div class="zTreeDemoBackground left">
                <ul id="ztree" class="ztree"></ul>
            </div>
        </div>
        <div class="col-sm-10  table-striped" style="box-shadow: #666 0px 0px 20px; background: #eee;">
            <div class="col-sm-12" id="totalFlowRate" style="height:300px; top: 16px; left: -18px"></div>
            <table id="bootstrap-table" style="border: 1px solid #3a4459"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    //目录数



    var editFlag = [[${@permission.hasPermi('system:real:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:real:remove')}]];
    var prefix = ctx + "system/real";
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "实时遥测曲线",
            striped: true,
            search: true,
            showRefresh: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '序号',
                    visible: false

                },
                {
                    field: 'groupsname',
                    title: '分组名称'
                },
                {
                    field: 'measurename',
                    title: '测量点名称'
                },
                {
                    field: 'signname',
                    title: '信号名称'
                },
                {
                    field: 'meanehiletime',
                    title: '同步时间',
                    sortable: true
                },
                {
                    field: 'insidevalue',
                    title: '内部限值',
                    sortable: true
                },
                {
                    field: 'regulationvalue',
                    title: '法规限值',
                    sortable: true
                },
                {
                    field: 'indication',
                    title: '示值'
                },
                {
                    field: 'unit',
                    title: '单位'
                }]

        };
        $.table.init(options);
        $.fn.zTree.init($("#ztree"), setting, zNodes);
    });
    var totalFlowRate = echarts.init(document.getElementById('totalFlowRate'));
    var xAxisData = [];
    var yAxisData = [];
    $.ajax({
        type: "post",
        url: "/system/real/lists",
        dataType: "json",
        async: false,
        success: function (result) {

            for (var i = 0; i < result.length; i++) {
                xAxisData.push(result[i].meanehiletime);
                yAxisData.push(result[i].indication);
            }

        },
        error: function (errorMsg) {
            alert("获取后台数据失败！");
        }
    })

    var totalFlowRateOption = {
        animation: false,
        title: {
            text: '总功率因数实时曲线',
            x: 'center'


            /*,
                    left:"110px"*/
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            }
        },
        grid: {
            left: 50 /*"50px"*/,
            right: 15 /*"15px"*/
        },
        legend: {
            data: ['总功率因数'],
            x: 'left'
        },
        xAxis: {
            boundaryGap: false,
            data: xAxisData,
            axisLabel: {
                //X轴刻度配置
                interval: 1 //0：表示全部显示不间隔；auto:表示自动根据刻度个数和宽度自动设置间隔个数
            }
        },
        yAxis: {
            boundaryGap: false
        },
        series: {
            //symbol: "none",
            /*去掉小圆点*/
            name: '总功率因数',
            type: 'line',
            data: yAxisData,
            //smooth: true   //显示为平滑的曲线
        }
    };
    totalFlowRate.setOption(totalFlowRateOption);

    //设置setting属性
    var setting = {

        data: {
            simpleData: {
                enable: true
            }
        },
        view:{
            showIcon:false,
            showLine:false

        },
        callback:{
            onClick:function(event, treeId, treeNode) { //第二步
                var treeObj = $.fn.zTree.getZTreeObj("ztree"),
                    nodes = treeObj.getCheckedNodes(true),
                    v = "";
                for(var i = 0; i < nodes.length; i++) {
                    v = nodes[i].name;
                    alert("节点id:" + nodes[i].id + "节点名称" + v); //获取选中节点的值
                }
            }
        }
    };
    //设置节点数组
    var zNodes = [{
        id: 1,
        pId: 0,
        name: "随意勾选 1",
        open: true
    },
        {
            id: 11,
            pId: 1,
            name: "随意勾选 1-1",
            open: true
        },
        {
            id: 111,
            pId: 11,
            name: "无 checkbox 1-1-1"
        },
        {
            id: 112,
            pId: 11,
            name: "随意勾选 1-1-2"
        },
        {
            id: 12,
            pId: 1,
            name: "无 checkbox 1-2",
            nocheck: true,
            open: true
        },
        {
            id: 121,
            pId: 12,
            name: "无 checkbox 1-2-1"
        },
        {
            id: 122,
            pId: 12,
            name: "无 checkbox 1-2-2"
        },
        {
            id: 2,
            pId: 0,
            name: "随意勾选 2",
            checked: true,
            open: true
        },
        {
            id: 21,
            pId: 2,
            name: "随意勾选 2-1"
        },
        {
            id: 22,
            pId: 2,
            name: "随意勾选 2-2",
            open: true
        },
        {
            id: 221,
            pId: 22,
            name: "随意勾选 2-2-1",
            checked: true
        },
        {
            id: 222,
            pId: 22,
            name: "随意勾选 2-2-2"
        },
        {
            id: 23,
            pId: 2,
            name: "随意勾选 2-3"
        }
    ];


</script>

</body>
</html>