<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('VIEW列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>性别：</p>

                                <!--@dict  对应后台Service层framework/web/service/DictService.java的.getType   要注意的是@后的服务名 要跟@service中一致-->
                                <!--mybaits对应Mapper:        resources\mybatis\system\DictDataMapper.xml-->

                                <select name="sex" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>地址：</p>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <p>班级：</p>
                                <input type="text" name="classname"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:day:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:day:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:day:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:day:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>     <!--include为上述公共部分的文件名,include为模板名,footer相当于模板中ID为footer的-->
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">

        //用permission访问后台地址获取数据

        var editFlag = [[${@permission.hasPermi('system:day:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:day:remove')}]];
        var prefix = ctx + "system/day";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "VIEW",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'name',
                    title : '姓名'
                },
                {
                    field : 'sex',
                    title : '性别'
                },
                {
                    field : 'address',
                    title : '地址'
                },
                {
                    field : 'classname',
                    title : '班级'
                },
                {
                    title: '操作',
                    align: 'center',
                    // value：表示当前单元格中的值
                    // row：表示当前行
                    // index：表示当前行的下标
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.name + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.name + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    //使用return返回想要的数据显示在单元格中
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>