<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>能源管控大数据平台</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts.min.js"
            th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts-liquidfill.js"
            th:src="@{/js/echarts-liquidfill.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/bigdata/left_bigdata.css" th:href="@{/css/bigdata/left_bigdata.css}"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
</head>
<body onload="utr(),proprotion()">
<div style="width: 1920px;height: 1080px;background-image: url('/back1.png'); color: #ffffff;background-repeat: no-repeat;background-size: 100% 100%; "
     th:src="@{/back.jpg}">
    <!--整个页面布局-->
    <div class="row" style="border: 1px solid #000000;height: 100%;margin: 0px;">
        <input id="largeareaname" type="hidden" th:value="${largeareaname}" >

        <!--左,,,用能汇总,用能占比,用能排名-->

        <div class="col-sm-3" style="height: 100% ;">

            <!--用能汇总-->
            <div style="border:solid 1px #FFFFFF;margin: 10px 0;">
                <div>
                    <h4>用能汇总</h4>
                </div>
                <div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-5" style=" height: 110px; background-color: #c3b722fa;margin-left: 25px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-leaf col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">总耗能</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3 id="sum">178036 tce</h3></div>
                        </div>
                        <div class="col-sm-5" style=" height: 110px;background-color: #de2406fa;margin-left: 30px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-flash col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">用电</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3><span id="esum"></span> <span>kWh</span></h3></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                        <div class="col-sm-5" style="height: 110px;background-color: #b844e8fa;margin-left: 25px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-tint col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">用水</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3><span id="wsum"></span> <span>tce</span></h3></div>
                        </div>
                        <div class="col-sm-5" style="height: 110px;background-color: #16d1effa;margin-left: 30px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-fire col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">用燃气</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3><span id="gsum"></span> <span>m³</span></h3></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--用能占比-->
             <div class="row" style="border:solid 1px #FFFFFF;margin: 0px;padding: 0px; height: 375px;margin-bottom: 10px;">
                    <div class="col-sm-8">
                        <h4>用能占比</h4></div>
                    <div class="btn-group col-sm-4">
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="proprotion('areawater')">水</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="proprotion('areaelectric')">电</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="proprotion('areagas')">气</button>
                    </div>
                    <div id="main" style="width: 430px;height: 390px; margin-top: 35px"></div>
             </div>

            <!--本月用能排名-->
            <div style="border:1px solid #FFFFFF;height: 375px;">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>用能排名</h4></div>
                    <div class="btn-group col-sm-4">
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="utr('areawater')">水</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="utr('areaelectric')">电</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="utr('areagas')">气</button>
                    </div>
                </div>
                <div id="xzuo" style="height: 350px"></div>
            </div>
        </div>


        <!--中,,,标题,轮播,用能对比曲线-->
        <div class="col-sm-6" style=" height: 100%;">
            <!--标题-->
            <div th:text="${largeareaname}" style="height: 80px;line-height: 95px;text-align: center;font-size: 32px">北京邮政能源管理数据大平台</div>
            <!--轮播-->
            <div style="border:solid 1px #FFFFFF;margin-bottom: 10px;">
                                <div class="box" style="height: 595px;position: relative;margin: 0px">
                                    <ul class="image" style="margin: 0px">
                                    </ul>
                                    <ul class="num">
                                    </ul>
                                    <div class="left arrow"><</div>
                                    <div class="right arrow">></div>
                                </div>
            </div>
            <!--本月用能对比曲线-->
            <div style="border:solid 1px #FFFFFF;">
                <div class="row">
                    <div class="col-sm-10">
                        <h4>用能对比曲线</h4></div>
                    <div class="btn-group col-sm-2">
                        <button type="button" class="btn btn-link" style="color: #fff;">水</button>
                        <button type="button" class="btn btn-link" style="color: #fff;">电</button>
                        <button type="button" class="btn btn-link" style="color: #fff;">气</button>
                    </div>
                </div>
                <div id="xzhong" style="height: 338px"></div>
            </div>
        </div>


        <!--右,,,基本情况,减少排放污染物-->
        <div class="col-sm-3" style="height: 100%;">
            <!--基本情况-->
            <div style="border:solid 1px #FFFFFF; height: 136px;margin: 10px 0;">
                <div>
                    <h4 style="display: inline;">基本情况</h4>
                    <button type="button" style="width: 100px;height: 30px;border-radius: 10px;background-color: #00000059;margin-left: 240px;margin-top: 3px;border: none"><a href="/system/bigdata/bigdata" style="color: #FFFFFF;list-style: none">返回</a></button>
                </div>
                <div class="row" style="margin: 0px;padding: 0px;margin-top: 10px; margin-right: 18px;">
                    <div class="col-md-4">
                        <div style="background-color: #867e70; height: 85px;border-radius: 10px;width: 130px;text-align: center;">
                            <p><span id="wwsum" style="font-size: 37px;">4566</span></p>
                            <span>累计节能量（tce）</span>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="background-color: #10e7ca; height: 85px;border-radius: 10px;width: 130px;text-align: center;">
                            <p><span id="costSaving" style="font-size: 37px;">2247</span></p>
                            <span>节省金额（万元）</span>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div style="background-color: #25f18b; height: 85px;border-radius: 10px;width: 130px;text-align: center;">
                            <p><span id="energySaving" style="font-size: 37px;">25</span></p>
                            <span>节能率（%）</span>
                        </div>

                    </div>
                </div>
            </div>
            <!--减少排饭污染物-->
            <div style="border:solid 1px #FFFFFF;">
                <!--减少排饭污染物-->
                <div >
                    <h4>减少排放污染物</h4>
                    <div class="row" style=" margin: 0px;padding-bottom: 10px;text-align: center">
                        <div class="col-sm-5" style=" height: 50px;">
                            <div style="background-color: RGB(196,136,28);height: 100%;width: 210px;border-radius: 10px;margin-left: -5px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px">267</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                        <div class="col-sm-5" style="height: 50px;">
                            <div style="background-color: RGB(19,121,224);height: 100%;width: 210px;border-radius: 10px;margin-left: 26px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px">267</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style=" margin: 0px;padding-bottom: 10px;text-align: center">
                        <div class="col-sm-5" style="height: 50px;">
                            <div style="background-color: RGB(19,197,146);height: 100%;width: 210px; border-radius: 10px;margin-left: -5px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px">267</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                        <div class="col-sm-5" style="height: 50px;">
                            <div style="background-color: RGB(8,171,204);height: 100%;width: 210px;border-radius: 10px;margin-left: 26px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px">267</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: RGB(16,163,146);height: 50px;width: 425px;margin-left: 15px; border-radius: 10px;margin-left: 10px;margin-bottom: 10px;;text-align: center;line-height: 50px">
                        <span class="glyphicon glyphicon-flash" style="font-size: 40px"></span><span style="font-size: 20px">累计用电</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 45px;margin-right: 15px">9863</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">万千瓦时</span>
                    </div>
                    <div style="background-color: RGB(14,122,156);height: 50px;width: 425px;margin-left: 15px; border-radius: 10px;margin-left: 10px;margin-bottom: 8px;;text-align: center;line-height: 50px">
                        <span class="glyphicon glyphicon-flash" style="font-size: 40px"></span><span style="font-size: 20px">减少用煤</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 45px;margin-right: 75px ">3985</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                    </div>
                </div>
                <!--照明节能概况-->
                <div style="height: 150px;margin-bottom: 9px;">
                    <h4>照明节能概况</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>
                <!--系统群控节能概括-->
                <div style="height: 150px;margin-bottom: 9px;">
                    <h4>系统群控节能概括（预计）</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>
                <!--动力设备节能概括-->
                <div style="height: 150px;margin-bottom: 9px;">
                    <h4>动力设备节能概况（预计）</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>
                <!--优化电网环境节能概况（预计）-->
                <div style="height: 150px;">
                    <h4>优化电网环境节能概况（预计）</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    largeareaname=$("#largeareaname").val();



    //用能汇总,水电气总
    $(function () {
        //水
        var wsum = [];
        //电
        var esum = [];
        //气
        var gsum = [];

        $.ajax({
            type: "get",
            url: "/system/bigdata/areagross",
            data : {
                "largeareaname": largeareaname,
            },
            dataType: "json",
            async: false,
            success: function (result) {
                var wsum =  result.wsum;
                var esum = result.esum;
                var gsum = result.gsum;

                document.getElementById("wsum").innerHTML = parseInt(wsum);
                document.getElementById("esum").innerHTML = (parseInt(esum));
                document.getElementById("gsum").innerHTML = (parseInt(gsum));

                $("#wsum").numberRock({
                    lastNumber: $("#wsum").text(),		//终止数字
                    duration: 800,
                    easing: 'swing',  	//慢快慢
                });
                $("#esum").numberRock({
                    lastNumber: $("#esum").text(),		//终止数字
                    duration: 800,
                    easing: 'swing',  	//慢快慢
                });
                $("#gsum").numberRock({
                    lastNumber: $("#gsum").text(),		//终止数字
                    duration: 800,
                    easing: 'swing',  	//慢快慢
                });
            },

            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })
    });


    //用能排名图表
    function utr(ss) {
        var myChart = echarts.init(document.getElementById('xzuo'));
        var va = "areawater";
        if (ss) {
            va = ss;
        }
        var price = "/system/bigdata/arearatio";
        var xAxisData = [];
        var yAxisData = [];
        $.ajax({
            type: "get",
            url: price,
            dataType: "json",
            async: false,
            data : {
                "largeareaname": largeareaname,
                "table": va,
            },
            success: function (result) {

                for (var i = 0; i < result.length; i++) {
                    xAxisData.push(result[i].smallareaname);
                    yAxisData.push(result[i].value);
                }

            },

            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })
        var option = {

            tooltip: {
                trigger: 'axis',
                backgroundColor: 'rgba(255,255,255,0.8)',
                extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                textStyle: {
                    color: '#6a717b',
                },

            },
            grid: {
                //设置图标距离
                top: "-0",
                left: "10",
                right: "200",
                bottom: "20"
            },
            yAxis: [{
                type: 'category',
                position: 'right',
                data: xAxisData,
                inverse: true,
                axisTick: {
                    alignWithLabel: true,
                    show: false
                },
                axisLabel: {
                    margin: 10,
                    textStyle: {
                        fontSize: 18,
                        color: 'white',
                        show: false,
                    }
                },
                axisLine: {
                    show: false,

                },


            }],
            xAxis: [{
                type: 'value',
                axisLabel: {     //值的显示
                    show: false
                },
                axisLine: {    //x轴是否显示
                    show: false
                },
                splitLine: {   //X轴网格线是否显示
                    show: false
                }
            }],
            series: [{
                name: '用电',
                type: 'bar',
                barWidth: 20,
                data: yAxisData,
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight',
                        textStyle: {
                            color: 'blue', //color of value字体颜色
                            fontSize: 18,    //柱状图上的值大小
                        }
                    }
                },
                itemStyle: {

                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                            offset: 0,
                            color: '#0590eb' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: '#08e3f1' // 100% 处的颜色
                        }], false),
                        barBorderRadius: [15, 15, 15, 15],
                        shadowColor: 'rgba(0,0,0,0.1)',
                        shadowBlur: 3,
                        shadowOffsetY: 3
                    }
                }
            }]
        };
        myChart.setOption(option);
    }


    /*下中间曲线图*/
    var xz = echarts.init(document.getElementById('xzhong'));
    option1 = {

        legend: {
            data: ['天桥大院', '航空邮件处理中心', '永安路大院', '新顺邮件处理中心', '北京站邮件处理中心', '北京国际邮件处理中心', '北京西站邮件处理中心', '北京综合邮件处理中心'],
            x: 'center',
            // y 设置垂直安放位置，默认全图顶端，可选值：'top' ¦ 'bottom' ¦ 'center' ¦ {number}（y坐标，单位px）
            y: 'top',
            textStyle: {
                color: '#fff',  // 图例文字颜色
                fontSize: 14,
            },
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        grid: {
            top: 25,
            bottom: 50,
            left: "40",
            right: "40",
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                onZero: false,
                lineStyle: {
                    color: "#fff"
                }
            },


            data: ['2016-1', '2016-2', '2016-3', '2016-4', '2016-5', '2016-6', '2016-7', '2016-8', '2016-9', '2016-10', '2016-11', '2016-12']
        },
        yAxis: {
            type: 'value',
            axisLine: {
                onZero: false,
                lineStyle: {
                    color: "#fff"
                }
            },
            splitLine: {
                show: false
            },//去除网格线

        },
        series: [{
            name: '北京综合邮件处理中心',
            type: 'line',
            smooth: true,
            data: [20.9, 1.9, 7.0, 22.4, 121.7, 160.7, 75.6, 82.2, 38.7, 12.8, 6.0, 172.3]
        },
            {
                name: '北京西站邮件处理中心',
                type: 'line',
                smooth: true,
                data: [60.9, 1.9, 7.0, 22.4, 21.7, 60.7, 75.6, 82.2, 38.7, 12.8, 6.0, 72.3]
            },
            {
                name: '北京国际邮件处理中心',
                type: 'line',
                smooth: true,
                data: [90.9, 1.9, 7.0, 122.4, 21.7, 160.7, 75.6, 82.2, 38.7, 12.8, 6.0, 72.3]
            },
            {
                name: '北京站邮件处理中心',
                type: 'line',
                smooth: true,
                data: [30.9, 100.9, 170.0, 22.4, 121.7, 60.7, 75.6, 92.2, 38.7, 12.8, 130.0, 72.3]
            },
            {
                name: '新顺邮件处理中心',
                type: 'line',
                smooth: true,
                data: [160.9, 11.9, 125.0, 22.4, 61.7, 90.7, 25.6, 82.2, 38.7, 120.8, 6.0, 72.3]
            },
            {
                name: '永安路大院',
                type: 'line',
                smooth: true,
                data: [180.9, 1.9, 78.0, 22.4, 123.7, 60.7, 25.6, 82.2, 38.7, 12.8, 89.0, 72.3]
            },
            {
                name: '天桥大院',
                type: 'line',
                smooth: true,
                data: [100.6, 100.9, 20.0, 76.4, 48.7, 20.7, 75.6, 142.2, 78.7, 180.8, 16.0, 92.3]
            },
            {
                name: '航空邮件处理中心',
                type: 'line',
                smooth: true,
                data: [0.9, 20.9, 40.1, 10.7, 30.3, 60.2, 90.6, 60.6, 80.4, 70.4, 20.3, 30.7]
            },
        ],
        color: ['#0379FF', '#FEA501', '#13E1E1']
    };
    xz.setOption(option1)





    //用能占比图表
    function proprotion(q) {
        var myChart = echarts.init(document.getElementById('main'));
        var va = "areawater";
        if (q) {
            va = q;
        }
        var price = "/system/bigdata/arearatio";
        var datas = [];
        $.ajax({
            type: "get",
            url: price,
            dataType: "json",
            async: false,
            data : {
                "largeareaname": largeareaname,
                "table": va,
            },
            success: function (result) {

                for (var i = 0; i < result.length; i++) {
                    var m = {};
                    m["value"] = result[i].value;
                    m["name"] = result[i].smallareaname;
                    datas.push(m);

                }

            },

            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })

        option = {
            tooltip: {
                trigger: 'item',
                formatter: '{b} : {c} ({d}%)'
            },

            series: [
                {

                    type: 'pie',
                    radius: ['35%', '50%'],
                    center: [215, 180],
                    data: datas,
                    itemStyle: {
                        normal: {
                            label: {
                                textStyle: {
                                    color: '#FFFFFF',
                                    fontSize: 14,
                                    fontWeight: 'bolder'
                                }
                            },
                        }
                    },

                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ],
            color: ['rgb(153, 93, 129)', 'rgb(248, 171, 157)', 'rgb(235, 130, 88)', 'rgb(216, 220, 106)', 'rgb(102, 137, 161)', 'rgb(92, 175, 178)', 'rgb(246, 0, 22)', 'rgb(38, 206, 214)']

        };
        myChart.setOption(option);
    }


    //地图轮播事件

    var i=0,timer;
    var sum = $(".image li").length;
    $(function(){
        //循环遍历li
        var arrFir = [{
            "id": 1,
            "name": "dalou.png"
        }, {
            "id": 2,
            "name": "kongtiao1.png"
        }, {
            "id": 3,
            "name": "kongtiao2.png"
        }, {
            "id": 4,
            "name": "xizhan.jpg"
        }, {
            "id": 5,
            "name": "zhaoming.png"
        }];
        for(var a = 0; a < arrFir.length; a++) {
            $(".image").append('<li><img src="/img/' + arrFir[a].name + '" th:"@{/img/'+arrFir[a].name+'}" /></li>');
            $(".num").append('<li>' + arrFir[a].id + '</li>')
        }
        $(".num li").eq(0).addClass("current"); //默认第一个加样式
        $(".image li").eq(0).show();//图片li显示
        $(".box").hover(function(){//鼠标在按钮上事件
            $(".arrow").show();//切换按钮显示
            clearInterval(timer);//停止计时器
        },function(){
            $(".arrow").hide();//切换按钮隐藏
            iLunbo();//自动播放事件
        })
        iLunbo();

        $(".arrow").hover(function(){//鼠标在按钮上事件
            clearInterval(timer);
        });
        /*左箭头控制轮播*/
        $(".left").click(function(){
            clearInterval(timer);
            if(i==0){
                i=sum;
            }
            i--;
            startLunbo();
            iLunbo();
        });

        /*右箭头控制轮播*/
        $(".right").click(function(){
            clearInterval(timer);
            if(i==sum-1){
                i=-1;
            }
            i++;
            startLunbo();
            iLunbo();
        });

        /*提示信息变换*/
        $(".num>li").hover(function(){
            clearInterval(timer);
            i=$(this).index();
            console.log(i);
            startLunbo();
        });
    });
    /*自动轮播*/
    function iLunbo(){
        timer = setInterval(function(){
            i++;
            if(i==sum-1){
                i=-1;
            }
            startLunbo();
        },5000)
    }
    /*图片轮播和提示信息*/
    function startLunbo(){
        if(i==$(".num li").length){
            i=0;
        }
        $(".image>li").eq(i).fadeIn().siblings().fadeOut();
        $(".num>li").eq(i).addClass("current").siblings().removeClass("current");
    }


    // //地图
    // // 基于准备好的dom，初始化echarts实例
    // var myChart = echarts.init(document.getElementById('map'));
    // // 地图数据
    // var uploadedDataURL = "/js/bigdata/beijing.json";
    // // 标注数据
    // var mapData = [{
    //     'name': '北京西站邮件处理中心',
    //     'color': '#ff69fc',
    //     'latitude': 39.902506,
    //     'longitude': 116.32025
    //
    // },
    //     {
    //         'latitude': 39.818668,
    //         'longitude': 116.541167,
    //         'name': '北京综合邮件处理中心',
    //         'value': 41558260,
    //         'color': '#24d251'
    //     },
    //     {
    //         'latitude': 39.911907,
    //         'longitude': 116.431918,
    //         'name': '北京站邮件处理中心',
    //         'value': 26458260,
    //         'color': '#f80404'
    //     },
    //     {
    //         'latitude': 39.923751,
    //         'longitude': 116.431528,
    //         'name': '天桥大院',
    //         'value': 15258260,
    //         'color': '#eafa04'
    //     },
    //     {
    //         'latitude': 39.959530,
    //         'longitude': 116.417991,
    //         'name': '永安路大院',
    //         'value': 49858260,
    //         'color': '#890fe0'
    //     }
    // ]
    //
    // $.get(uploadedDataURL, function (geoJson) {
    //
    //     echarts.registerMap(name, geoJson);
    //
    //     myChart.setOption(option = {
    //         backgroundColor: 'RGB(14,44,129)',
    //         //地图配置
    //         tooltip: {
    //             trigger: 'item',
    //             formatter: function (params) {
    //                 var res = '';
    //                 res += params['data'].name + '</br>';
    //                 res += '用户数' + ' : ' + params['data'].value + '</br>';
    //                 return res;
    //             }
    //             //formatter: '{b}<br/>{c}'
    //         },
    //         geo: {
    //             center: [116.32025, 39.902506],
    //             type: 'map',
    //             scaleLimit: {  //缩放级别限制
    //                 min: 1,
    //                 max: 10
    //             },
    //             roam: true,
    //             zoom: 2,
    //             label: {
    //                 normal: { //静态的时候展示样式
    //                     show: true, //是否显示地图省份得名称
    //                     textStyle: {
    //                         color: "#fff",
    //                         fontSize: 12,
    //                         fontFamily: "Arial"
    //                     }
    //                 },
    //                 emphasis: { //动态展示的样式
    //                     color: '#ffffff',
    //                 },
    //             },
    //             itemStyle: {
    //                 normal: {
    //                     borderColor: '#ffffff', //区域边框颜色
    //                     areaColor: 'RGB(3,49,177)', //区域背景颜色
    //                 },
    //                 emphasis: {
    //                     areaColor: 'RGB(81,155,212)', //鼠标浮动颜色
    //                     borderWidth: 2//鼠标浮动边框大小
    //                 }
    //             },
    //
    //         },
    //         series: [{
    //             type: 'effectScatter', //带有涟漪特效动画的散点（气泡）图
    //             coordinateSystem: 'geo', //使用地理坐标系，通过 geoIndex 指定相应的地理坐标系组件。
    //             //animation: true,
    //             rippleEffect: {
    //                 brushType: 'fill' //波纹的绘制方式，可选 'stroke' 和 'fill'。
    //             },
    //             symbolSize: function (val, params) { //其中第一个参数 value 为 data 中的数据值。第二个参数params 是其它的数据项参数。
    //                 //标记的大小，可以设置成诸如 10 这样单一的数字，也可以用数组分开表示宽和高，例如 [20, 10] 表示标记宽为20，高为10。
    //                 return 15;
    //             },
    //             data: mapData.map(function (itemOpt) {
    //                 return {
    //                     name: itemOpt.name,
    //                     value: [
    //                         itemOpt.longitude,
    //                         itemOpt.latitude,
    //                         itemOpt.value
    //                     ],
    //
    //                     label: {
    //                         emphasis: {
    //                             position: 'right',
    //                             show: false
    //                         }
    //                     },
    //                     itemStyle: {
    //                         normal: {
    //                             color: itemOpt.color
    //                         }
    //                     }
    //                 };
    //             })
    //
    //         }]
    //     });
    // });
    // // 地图点击
    // myChart.on('click', function (e) {
    //     console.log(e)
    //     if (e.name == 4) {
    //         parent.markClick();
    //     }
    // })


    $(function () {
        $("#wwsum").numberRock({
            lastNumber: $("#wwsum").text(),		//终止数字
            duration: 800,
            easing: 'swing',  	//慢快慢
        });
        $("#energySaving ").numberRock({
            lastNumber: $("#energySaving").text(),		//终止数字
            duration: 800,
            easing: 'swing',  	//慢快慢
        });
        $("#costSaving ").numberRock({
            lastNumber: $("#costSaving").text(),		//终止数字
            duration: 800,
            easing: 'swing',  	//慢快慢
        });

    });

    (function ($) {
        $.fn.numberRock = function (options) {
            var defaults = {
                lastNumber: 100,
                duration: 2000,
                easing: 'swing'  //swing(默认 : 缓冲 : 慢快慢)  linear(匀速的)
            };
            var opts = $.extend({}, defaults, options);

            $(this).animate({
                num: "numberRock",
            }, {
                duration: opts.duration,
                easing: opts.easing,
                complete: function () {
                    console.log("success");
                },
                step: function (a, b) {  //可以检测我们定时器的每一次变化
                    $(this).html(parseInt(b.pos * opts.lastNumber));
                }
            });
        }

    })(jQuery);

</script>

</html>