<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>能源管控大数据平台</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts.min.js"
            th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts-liquidfill.js"
            th:src="@{/js/echarts-liquidfill.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/bigdata/left_bigdata.css" th:href="@{/css/bigdata/left_bigdata.css}"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
</head>
<body onload="utr(),proprotion(),graph('son_energy_water')">
<div style="width: 1920px;height: 1080px;background-image: url('/back1.png'); color: #ffffff;background-repeat: no-repeat;background-size: 100% 100%; "
     th:src="@{/back.jpg}">
    <!--整个页面布局-->
    <div class="row" style="border: 1px solid #000000;height: 100%;margin: 0px;">
        <input id="largeareaname" type="hidden" th:value="${largeareaname}" >

        <!--左,,,用能汇总,用能占比,用能排名-->

        <div class="col-sm-3" style="height: 100% ;">

            <!--用能汇总-->
            <div style="border:solid 1px #FFFFFF;margin: 10px 0;">
                <div>
                    <h4>用能汇总</h4>
                </div>
                <div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-5" style=" height: 110px; background-color: #c3b722fa;margin-left: 25px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-leaf col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">总耗能</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3 id="sum">178036 tce</h3></div>
                        </div>
                        <div class="col-sm-5" style=" height: 110px;background-color: #de2406fa;margin-left: 30px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-flash col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">用电</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3><span id="esum"></span> <span>kWh</span></h3></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                        <div class="col-sm-5" style="height: 110px;background-color: #b844e8fa;margin-left: 25px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-tint col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">用水</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3><span id="wsum"></span> <span>tce</span></h3></div>
                        </div>
                        <div class="col-sm-5" style="height: 110px;background-color: #16d1effa;margin-left: 30px;">
                            <div class="row">
                                <i class="glyphicon glyphicon-fire col-md-4" style="font-size: 33px;margin-top: 20px"></i>
                                <h4 class="col-md-8" style="margin-top: 30px;padding-left: 55px">用燃气</h4>
                            </div>
                            <div style="text-align: right;font-family: 'Antique Olive';">
                                <h3><span id="gsum"></span> <span>m³</span></h3></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--用能占比-->
             <div class="row" style="border:solid 1px #FFFFFF;margin: 0px;padding: 0px; height: 375px;margin-bottom: 10px;">
                    <div class="col-sm-8">
                        <h4>用能占比</h4></div>
                    <div class="btn-group col-sm-4">
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="proprotion('areawater')">水</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="proprotion('areaelectric')">电</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="proprotion('areagas')">气</button>
                    </div>
                    <div id="main" style="width: 430px;height: 390px; margin-top: 35px"></div>
             </div>

            <!--本月用能排名-->
            <div style="border:1px solid #FFFFFF;height: 375px;">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>用能排名</h4></div>
                    <div class="btn-group col-sm-4">
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="utr('areawater')">水</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="utr('areaelectric')">电</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="utr('areagas')">气</button>
                    </div>
                </div>
                <div id="xzuo" style="height: 350px"></div>
            </div>
        </div>


        <!--中,,,标题,轮播,用能对比曲线-->
        <div class="col-sm-6" style=" height: 100%;">
            <!--标题-->
            <div th:text="${largeareaname}" style="height: 80px;line-height: 95px;text-align: center;font-size: 32px">北京邮政能源管理数据大平台</div>
            <!--轮播-->
            <div style="border:solid 1px #FFFFFF;margin-bottom: 10px;">
                                <div class="box" style="height: 595px;position: relative;margin: 0px">
                                    <ul class="image" style="margin: 0px">
                                    </ul>
                                    <ul class="num">
                                    </ul>
                                    <div class="left arrow"><</div>
                                    <div class="right arrow">></div>
                                </div>
            </div>
            <!--本月用能对比曲线-->
            <div style="border:solid 1px #FFFFFF;">
                <div class="row">
                    <div class="col-sm-10">
                        <h4>用能对比曲线</h4></div>
                    <div class="btn-group col-sm-2">
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="graph('son_energy_water')">水</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="graph('son_energy_electric')">电</button>
                        <button type="button" class="btn btn-link" style="color: #fff;" onclick="graph('son_energy_gas')">气</button>
                    </div>
                </div>
                <div id="xzhong" style="height: 338px"></div>
            </div>
        </div>


        <!--右,,,基本情况,减少排放污染物-->
        <div class="col-sm-3" style="height: 100%;">
            <!--基本情况-->
            <div style="border:solid 1px #FFFFFF; height: 136px;margin: 10px 0;">
                <div>
                    <h4 style="display: inline;">基本情况</h4>
                    <button type="button" style="width: 100px;height: 30px;border-radius: 10px;background-color: #00000059;margin-left: 240px;margin-top: 3px;border: none"><a href="/system/bigdata/bigdata" style="color: #FFFFFF;list-style: none">返回</a></button>
                </div>
                <div class="row" style="margin: 0px;padding: 0px;margin-top: 10px; margin-right: 18px;">
                    <div class="col-md-4">
                        <div style="background-color: #867e70; height: 85px;border-radius: 10px;width: 130px;text-align: center;">
                            <p><span id="wwsum" style="font-size: 37px;">4566</span></p>
                            <span>累计节能量（tce）</span>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="background-color: #10e7ca; height: 85px;border-radius: 10px;width: 130px;text-align: center;">
                            <p><span id="costSaving" style="font-size: 37px;">2247</span></p>
                            <span>节省金额（万元）</span>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div style="background-color: #25f18b; height: 85px;border-radius: 10px;width: 130px;text-align: center;">
                            <p><span id="energySaving" style="font-size: 37px;">25</span></p>
                            <span>节能率（%）</span>
                        </div>

                    </div>
                </div>
            </div>
            <!--减少排饭污染物-->
            <div style="border:solid 1px #FFFFFF;">
                <!--减少排饭污染物-->
                <div >
                    <h4>减少排放污染物</h4>
                    <div class="row" style=" margin: 0px;padding-bottom: 10px;text-align: center">
                        <div class="col-sm-5" style=" height: 50px;">
                            <div style="background-color: RGB(196,136,28);height: 100%;width: 210px;border-radius: 10px;margin-left: -5px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px" id="reduce_Co2"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                        <div class="col-sm-5" style="height: 50px;">
                            <div style="background-color: RGB(19,121,224);height: 100%;width: 210px;border-radius: 10px;margin-left: 26px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px" id="reduce_sulfide"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style=" margin: 0px;padding-bottom: 10px;text-align: center">
                        <div class="col-sm-5" style="height: 50px;">
                            <div style="background-color: RGB(19,197,146);height: 100%;width: 210px; border-radius: 10px;margin-left: -5px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px" id="reduce_soot"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                        <div class="col-sm-5" style="height: 50px;">
                            <div style="background-color: RGB(8,171,204);height: 100%;width: 210px;border-radius: 10px;margin-left: 26px;">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 40px" id="reduce_nitride"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: RGB(16,163,146);height: 50px;width: 425px;margin-left: 15px; border-radius: 10px;margin-left: 10px;margin-bottom: 10px;;text-align: center;line-height: 50px">
                        <span class="glyphicon glyphicon-flash" style="font-size: 40px"></span><span style="font-size: 20px">累计用电</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 45px;margin-right: 15px" id="save_electricity"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">万千瓦时</span>
                    </div>
                    <div style="background-color: RGB(14,122,156);height: 50px;width: 425px;margin-left: 15px; border-radius: 10px;margin-left: 10px;margin-bottom: 8px;;text-align: center;line-height: 50px">
                        <span class="glyphicon glyphicon-flash" style="font-size: 40px"></span><span style="font-size: 20px">减少用煤</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 45px;margin-right: 75px " id="reduce_coal"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 20px">吨</span>
                    </div>
                </div>
                <!--照明节能概况-->
                <div style="height: 150px;margin-bottom: 9px;">
                    <h4>照明节能概况</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>
                <!--系统群控节能概括-->
                <div style="height: 150px;margin-bottom: 9px;">
                    <h4>系统群控节能概括（预计）</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>
                <!--动力设备节能概括-->
                <div style="height: 150px;margin-bottom: 9px;">
                    <h4>动力设备节能概况（预计）</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>
                <!--优化电网环境节能概况（预计）-->
                <div style="height: 150px;">
                    <h4>优化电网环境节能概况（预计）</h4>
                    <div style="margin: 0px;padding: 0px 10px;">
                        <div style="background-color: #91CFF1;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienenglv.png" th:src="@{/img/bigdata/jienenglv.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能率</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">60</span><span style="font-size: 20px;float: right;">%</span></div>
                        </div>
                        <div style="background-color: #98BADF;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengliang.png" th:src="@{/img/bigdata/jienengliang.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能量</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">138.3</span><span style="font-size: 20px;float: right;">tce</span></div>
                        </div>
                        <div style="background-color: #BCB3D4;margin-left: 10px;float: left; width: 135px;height: 120px;border-radius: 10px;">
                            <div style="margin: 10px 5px">
                                <img src="../../static/img/bigdata/jienengjine.png" th:src="@{/img/bigdata/jienengjine.png}" style="width: 48px;height: 48px"/>
                                <span style="float: right"><h4>节能金额</h4></span>
                            </div>
                            <div style="margin: 10px 10px;height: 50px;line-height: 50px;"><span style="font-size: 30px;">130</span><span style="font-size: 20px;float: right;">万元</span></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    largeareaname=$("#largeareaname").val();



    //用能汇总,水电气总
    $(function () {
        //水
        var wsum = [];
        //电
        var esum = [];
        //气
        var gsum = [];

        $.ajax({
            type: "get",
            url: "/system/bigdata/areagross",
            data : {
                "largeareaname": largeareaname,
            },
            dataType: "json",
            async: false,
            success: function (result) {
                var wsum =  result.wsum;
                var esum = result.esum;
                var gsum = result.gsum;

                document.getElementById("wsum").innerHTML = parseInt(wsum);
                document.getElementById("esum").innerHTML = (parseInt(esum));
                document.getElementById("gsum").innerHTML = (parseInt(gsum));

                $("#wsum").numberRock({
                    lastNumber: $("#wsum").text(),		//终止数字
                    duration: 800,
                    easing: 'swing',  	//慢快慢
                });
                $("#esum").numberRock({
                    lastNumber: $("#esum").text(),		//终止数字
                    duration: 800,
                    easing: 'swing',  	//慢快慢
                });
                $("#gsum").numberRock({
                    lastNumber: $("#gsum").text(),		//终止数字
                    duration: 800,
                    easing: 'swing',  	//慢快慢
                });
            },

            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })
    });


    //用能排名图表
    function utr(ss) {
        var myChart = echarts.init(document.getElementById('xzuo'));
        var va = "areawater";
        if (ss) {
            va = ss;
        }
        var price = "/system/bigdata/arearatio";
        var xAxisData = [];
        var yAxisData = [];
        $.ajax({
            type: "get",
            url: price,
            dataType: "json",
            async: false,
            data : {
                "largeareaname": largeareaname,
                "table": va,
            },
            success: function (result) {

                for (var i = 0; i < result.length; i++) {
                    xAxisData.push(result[i].smallareaname);
                    yAxisData.push(result[i].value);
                }

            },

            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })
        var option = {

            tooltip: {
                trigger: 'axis',
                backgroundColor: 'rgba(255,255,255,0.8)',
                extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
                textStyle: {
                    color: '#6a717b',
                },

            },
            grid: {
                //设置图标距离
                top: "-0",
                left: "10",
                right: "200",
                bottom: "20"
            },
            yAxis: [{
                type: 'category',
                position: 'right',
                data: xAxisData,
                inverse: true,
                axisTick: {
                    alignWithLabel: true,
                    show: false
                },
                axisLabel: {
                    margin: 10,
                    textStyle: {
                        fontSize: 18,
                        color: 'white',
                        show: false,
                    }
                },
                axisLine: {
                    show: false,

                },


            }],
            xAxis: [{
                type: 'value',
                axisLabel: {     //值的显示
                    show: false
                },
                axisLine: {    //x轴是否显示
                    show: false
                },
                splitLine: {   //X轴网格线是否显示
                    show: false
                }
            }],
            series: [{
                name: '用电',
                type: 'bar',
                barWidth: 20,
                data: yAxisData,
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight',
                        textStyle: {
                            color: 'blue', //color of value字体颜色
                            fontSize: 18,    //柱状图上的值大小
                        }
                    }
                },
                itemStyle: {

                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                            offset: 0,
                            color: '#0590eb' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: '#08e3f1' // 100% 处的颜色
                        }], false),
                        barBorderRadius: [15, 15, 15, 15],
                        shadowColor: 'rgba(0,0,0,0.1)',
                        shadowBlur: 3,
                        shadowOffsetY: 3
                    }
                }
            }]
        };
        myChart.setOption(option);
    }


    /*下中间曲线图*/
    function graph(val){
        var xz = echarts.init(document.getElementById('xzhong'));

        var xname = [];
        var xtime = [];
        var zdata = [];

        $.ajax({
            type: "get",
            url: "/system/bigdata/areaaddcurve?table="+val,
            dataType: "json",
            async: false,
            data : {
                "largeareaname": largeareaname,
            },
            success: function (result) {

                //场院名称去重
                var map = result.reduce((all, m) => {
                    let list = all.get(m.region);
                    if (!list) {
                        list = [];
                        all.set(m.region, list);
                    }
                    list.push(m);
                    return all;
                }, new Map());

                Array.from(map.entries())
                    // 这里过滤掉 list 只有一个元素的，剩下的就是有重复的
                    .filter(([region, list]) => list.length > 0)
                    .forEach(([region, list]) => {
                        values = list.map(m => m.region);
                        // var p = region;
                        xname.push(region);

                    });


                //按场院名称查询成数组
                for (var i = 0; i < xname.length; i++) {
                    var m = {};
                    m["name"] = xname[i];
                    m["type"] = "line";
                    m["smooth"] = "true";
                    m["url"] = "/system/bigdata"

                    //循环场院名称,拿到多个数组
                    var queryData = result.filter(function (fp) {
                        return fp.region === xname[i]
                    })
                    var v = "array" + i;
                    var v = new Array();

                    //拿出每个场院数组的数值,保存进一个数组
                    for (var j = 0; j < queryData.length; j++) {
                        var numbers = queryData[j].number;
                        v[j] = numbers;
                    }
                    m["data"] = v;
                    zdata.push(m);

                }
                console.log(zdata);


                //时间去重
                var map = result.reduce((all, m) => {
                    let list = all.get(m.timing);
                    if (!list) {
                        list = [];
                        all.set(m.timing, list);
                    }
                    list.push(m);
                    return all;
                }, new Map());
                Array.from(map.entries())
                    // 这里过滤掉 list 只有一个元素的，剩下的就是有重复的
                    .filter(([timing, list]) => list.length > 0)
                    .forEach(([timing, list]) => {
                        values = list.map(m => m.timing);

                        // var p = timing;


                        //日期截取

                        var dateTime = new Date(timing);
                        var hour = dateTime.getHours();
                        var min = dateTime.getMinutes();
                        var sec = dateTime.getSeconds();
                        var yy = dateTime.getFullYear();
                        var dd = dateTime.getDate();
                        var mm = dateTime.getMonth() + 1;
                        var time = mm + "-" + dd;


                        xtime.push(time);
                        // alert(xtime);

                    });
            },
            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })


        option1 = {
            legend: {
                data: xname,
                selected: {
                    "实业集团": false,
                    "中心局": true,
                    "西城区局": false,
                    "市公司": false,
                    "押运人员公寓": false,
                    "电商局": false,
                    "集团公司信息技术局": true,
                    "信息局": false,
                    "发行局": false,
                    "机要局": false,
                    "集邮公司": false,
                    "集邮公司": false,
                    "北京邮局中心局": false,
                    "商函局": false,
                    "邮中物业": true,
                    "亦庄数据机房": false,
                    "中心三组": false,
                    "器材公司": true,

                },
                x: 'center',
                // y 设置垂直安放位置，默认全图顶端，可选值：'top' ¦ 'bottom' ¦ 'center' ¦ {number}（y坐标，单位px）
                y: 'top',
                textStyle: {
                    color: '#fff',  // 图例文字颜色
                    fontSize: 14,
                },
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            grid: {
                top: 45,
                bottom: 50,
                left: "40",
                right: "40",
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                axisLine: {
                    onZero: false,
                    lineStyle: {
                        color: "#fff"
                    }
                },


                data: xtime
            },
            yAxis: {
                type: 'value',
                axisLine: {
                    onZero: false,
                    lineStyle: {
                        color: "#fff"
                    }
                },
                splitLine: {
                    show: false
                },//去除网格线

            },
            series: zdata,

            color: ['#32f3b5', '#FEA501', '#13E1E1', '#cd11ee']
        };
        xz.setOption(option1)


    }

    //用能占比图表
    function proprotion(q) {
        var myChart = echarts.init(document.getElementById('main'));
        var va = "areawater";
        if (q) {
            va = q;
        }
        var price = "/system/bigdata/arearatio";
        var datas = [];
        $.ajax({
            type: "get",
            url: price,
            dataType: "json",
            async: false,
            data : {
                "largeareaname": largeareaname,
                "table": va,
            },
            success: function (result) {

                for (var i = 0; i < result.length; i++) {
                    var m = {};
                    m["value"] = result[i].value;
                    m["name"] = result[i].smallareaname;
                    datas.push(m);

                }

            },

            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })

        option = {
            tooltip: {
                trigger: 'item',
                formatter: '{b} : {c} ({d}%)'
            },

            series: [
                {

                    type: 'pie',
                    radius: ['35%', '50%'],
                    center: [215, 180],
                    data: datas,
                    itemStyle: {
                        normal: {
                            label: {
                                textStyle: {
                                    color: '#FFFFFF',
                                    fontSize: 14,
                                    fontWeight: 'bolder'
                                }
                            },
                        }
                    },

                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ],
            color: ['rgb(153, 93, 129)', 'rgb(248, 171, 157)', 'rgb(235, 130, 88)', 'rgb(216, 220, 106)', 'rgb(102, 137, 161)', 'rgb(92, 175, 178)', 'rgb(246, 0, 22)', 'rgb(38, 206, 214)']

        };
        myChart.setOption(option);
    }


    //地图轮播事件

    var i=0,timer;
    var sum = $(".image li").length;
    $(function(){
        //循环遍历li
        var arrFir = [{
            "id": 1,
            "name": "dalou.png"
        }, {
            "id": 2,
            "name": "kongtiao1.png"
        }, {
            "id": 3,
            "name": "kongtiao2.png"
        }, {
            "id": 4,
            "name": "xizhan.jpg"
        }, {
            "id": 5,
            "name": "zhaoming.png"
        }];
        for(var a = 0; a < arrFir.length; a++) {
            $(".image").append('<li><img src="/img/' + arrFir[a].name + '" th:"@{/img/'+arrFir[a].name+'}" /></li>');
            $(".num").append('<li>' + arrFir[a].id + '</li>')
        }
        $(".num li").eq(0).addClass("current"); //默认第一个加样式
        $(".image li").eq(0).show();//图片li显示
        $(".box").hover(function(){//鼠标在按钮上事件
            $(".arrow").show();//切换按钮显示
            clearInterval(timer);//停止计时器
        },function(){
            $(".arrow").hide();//切换按钮隐藏
            iLunbo();//自动播放事件
        })
        iLunbo();

        $(".arrow").hover(function(){//鼠标在按钮上事件
            clearInterval(timer);
        });
        /*左箭头控制轮播*/
        $(".left").click(function(){
            clearInterval(timer);
            if(i==0){
                i=sum;
            }
            i--;
            startLunbo();
            iLunbo();
        });

        /*右箭头控制轮播*/
        $(".right").click(function(){
            clearInterval(timer);
            if(i==sum-1){
                i=-1;
            }
            i++;
            startLunbo();
            iLunbo();
        });

        /*提示信息变换*/
        $(".num>li").hover(function(){
            clearInterval(timer);
            i=$(this).index();
            console.log(i);
            startLunbo();
        });
    });
    /*自动轮播*/
    function iLunbo(){
        timer = setInterval(function(){
            i++;
            if(i==sum-1){
                i=-1;
            }
            startLunbo();
        },5000)
    }
    /*图片轮播和提示信息*/
    function startLunbo(){
        if(i==$(".num li").length){
            i=0;
        }
        $(".image>li").eq(i).fadeIn().siblings().fadeOut();
        $(".num>li").eq(i).addClass("current").siblings().removeClass("current");
    }

    $(function (){
        var m = [];
        $.ajax({
            type: "get",
            url: "/system/sondata/lists",
            dataType: "json",
            async: false,
            data : {
                "name": largeareaname
            },
            success: function (result) {
                    m.push(result.reduceCo2);
                    m.push(result.reduceSulfide);
                    m.push(result.reduceSoot);
                    m.push(result.reduceNitride);
                    m.push(result.saveElectricity);
                    m.push(result.reduceCoal);
                document.getElementById("reduce_Co2").innerHTML = parseInt(m[0]);
                document.getElementById("reduce_sulfide").innerHTML = parseInt(m[1]);
                document.getElementById("reduce_soot").innerHTML = parseInt(m[2]);
                document.getElementById("reduce_nitride").innerHTML = parseInt(m[3]);
                document.getElementById("save_electricity").innerHTML = parseInt(m[4]);
                document.getElementById("reduce_coal").innerHTML = parseInt(m[5]);
            },
            error: function (errorMsg) {
                alert("获取后台数据失败！");
            }
        })
    })

    $(function () {
        $("#wwsum").numberRock({
            lastNumber: $("#wwsum").text(),		//终止数字
            duration: 800,
            easing: 'swing',  	//慢快慢
        });
        $("#energySaving ").numberRock({
            lastNumber: $("#energySaving").text(),		//终止数字
            duration: 800,
            easing: 'swing',  	//慢快慢
        });
        $("#costSaving ").numberRock({
            lastNumber: $("#costSaving").text(),		//终止数字
            duration: 800,
            easing: 'swing',  	//慢快慢
        });

    });

    (function ($) {
        $.fn.numberRock = function (options) {
            var defaults = {
                lastNumber: 100,
                duration: 2000,
                easing: 'swing'  //swing(默认 : 缓冲 : 慢快慢)  linear(匀速的)
            };
            var opts = $.extend({}, defaults, options);

            $(this).animate({
                num: "numberRock",
            }, {
                duration: opts.duration,
                easing: opts.easing,
                complete: function () {
                    console.log("success");
                },
                step: function (a, b) {  //可以检测我们定时器的每一次变化
                    $(this).html(parseInt(b.pos * opts.lastNumber));
                }
            });
        }

    })(jQuery);

</script>

</html>