<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.project.system.areagas.mapper.AreagasMapper">
    
    <resultMap type="Areagas" id="AreagasResult">
        <result property="id"    column="id"    />
        <result property="smallareaname"    column="smallareaname"    />
        <result property="largeareaname"    column="largeareaname"    />
        <result property="value"    column="value"    />
        <result property="pid"    column="pid"    />
        <result property="parentName" column="parent_name" />
    </resultMap>

    <sql id="selectAreagasVo">
        select id, smallareaname, largeareaname, value, pid from areagas
    </sql>

    <select id="selectAreagasList" parameterType="Areagas" resultMap="AreagasResult">
        <include refid="selectAreagasVo"/>
        <where>  
            <if test="smallareaname != null  and smallareaname != ''"> and smallareaname like concat('%', #{smallareaname}, '%')</if>
        </where>
        order by pid
    </select>
    
    <select id="selectAreagasById" parameterType="Long" resultMap="AreagasResult">
        select t.id, t.smallareaname, t.largeareaname, t.value, t.pid, p.largeareaname as parent_name
        from areagas t
        left join areagas p on p.id = t.pid
        where t.id = #{id}
    </select>
        
    <insert id="insertAreagas" parameterType="Areagas" useGeneratedKeys="true" keyProperty="id">
        insert into areagas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="smallareaname != null  and smallareaname != ''">smallareaname,</if>
            <if test="largeareaname != null  and largeareaname != ''">largeareaname,</if>
            <if test="value != null ">value,</if>
            <if test="pid != null ">pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="smallareaname != null  and smallareaname != ''">#{smallareaname},</if>
            <if test="largeareaname != null  and largeareaname != ''">#{largeareaname},</if>
            <if test="value != null ">#{value},</if>
            <if test="pid != null ">#{pid},</if>
         </trim>
    </insert>

    <update id="updateAreagas" parameterType="Areagas">
        update areagas
        <trim prefix="SET" suffixOverrides=",">
            <if test="smallareaname != null  and smallareaname != ''">smallareaname = #{smallareaname},</if>
            <if test="largeareaname != null  and largeareaname != ''">largeareaname = #{largeareaname},</if>
            <if test="value != null ">value = #{value},</if>
            <if test="pid != null ">pid = #{pid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAreagasById" parameterType="Long">
        delete from areagas where id = #{id}
    </delete>

    <delete id="deleteAreagasByIds" parameterType="String">
        delete from areagas where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>