<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.project.system.electric.mapper.ElectricMapper">

    <resultMap type="Electric" id="ElectricResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="value"    column="value"    />
    </resultMap>



<!--    <select id="selectElectricList" parameterType="Electric" resultMap="ElectricResult">-->
<!--        SELECT region as name,SUM(number) as value FROM energy_contrast WHERE DATE_FORMAT( timing, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) GROUP BY region ORDER BY SUM(number) DESC-->
<!--    </select>-->


    <select id="selectElectricList" parameterType="Electric" resultMap="ElectricResult">
        select `name`,SUM(`value`) as value from electric GROUP BY `name` ORDER BY value DESC
    </select>


</mapper>