<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.project.system.warning.mapper.WarningNoticeMapper">
    
    <resultMap type="WarningNotice" id="WarningNoticeResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="time"    column="time"    />
    </resultMap>

    <sql id="selectWarningNoticeVo">
        select id, content, type, time from warning_notice
    </sql>

    <select id="selectWarningNoticeList" parameterType="WarningNotice" resultMap="WarningNoticeResult">
        <include refid="selectWarningNoticeVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="time != null "> and time = #{time}</if>
        </where>
    </select>
    
    <select id="selectWarningNoticeById" parameterType="Long" resultMap="WarningNoticeResult">
        <include refid="selectWarningNoticeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWarningNotice" parameterType="WarningNotice" useGeneratedKeys="true" keyProperty="id">
        insert into warning_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null  and content != ''">content,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="time != null ">time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null  and content != ''">#{content},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="time != null ">#{time},</if>
         </trim>
    </insert>

    <update id="updateWarningNotice" parameterType="WarningNotice">
        update warning_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="time != null ">time = #{time},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWarningNoticeById" parameterType="Long">
        delete from warning_notice where id = #{id}
    </delete>

    <delete id="deleteWarningNoticeByIds" parameterType="String">
        delete from warning_notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    
</mapper>