<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.project.bigdata.mapper.BigdataMapper">


    <select id="zsum" resultType="Zsum">
        SELECT SUM(`value`) as gsum,wsum,esum FROM gas g INNER JOIN
        (SELECT SUM(`value`) as wsum,esum FROM water w INNER JOIN (SELECT SUM(`value`) as esum FROM electric) e) q
    </select>

    <select id="areagross" resultType="Zsum">
       SELECT SUM(`value`) as gsum,wsum,esum FROM gas g INNER JOIN (SELECT SUM(`value`) as wsum,esum FROM water w INNER JOIN (SELECT SUM(`value`) as esum FROM electric WHERE name = #{largeareaname}) e WHERE name = #{largeareaname}) q WHERE name = #{largeareaname}
    </select>

    <select id="arearatio" resultType="AreaRatio">
        SELECT smallareaname,`value` FROM ${table} WHERE largeareaname= #{largeareaname} ORDER BY `value` DESC
    </select>

    <select id="addmappt" resultType="Mapss">
        select * from map_punctuation
    </select>


    <select id="addcurve" resultType="Contrast">
       SELECT region,timing,number FROM ${table} WHERE DATE_FORMAT( timing, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </select>

    <select id="areaaddcurve" resultType="Contrast">
        SELECT name as region,time as timing,son_number as number FROM ${table} WHERE DATE_FORMAT( time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and pname = #{largeareaname}
    </select>




</mapper>