<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改子地区基本信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sondata-edit" th:object="${sonData}">
            <input name="pname" th:field="*{pname}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">父地区：</label>
                <div class="col-sm-8">
                    <select name="pname" class="form-control m-b" th:with="type=${@dict.getType('largeareanames')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{pname}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总耗能：</label>
                <div class="col-sm-8">
                    <input name="sonTotalDissipation" th:field="*{sonTotalDissipation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">累计节能量：</label>
                <div class="col-sm-8">
                    <input name="saveEnergy" th:field="*{saveEnergy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">节省金额：</label>
                <div class="col-sm-8">
                    <input name="saveMoney" th:field="*{saveMoney}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">节能率：</label>
                <div class="col-sm-8">
                    <input name="saveRate" th:field="*{saveRate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排二氧化碳：</label>
                <div class="col-sm-8">
                    <input name="reduceCo2" th:field="*{reduceCo2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排硫化物：</label>
                <div class="col-sm-8">
                    <input name="reduceSulfide" th:field="*{reduceSulfide}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排烟尘：</label>
                <div class="col-sm-8">
                    <input name="reduceSoot" th:field="*{reduceSoot}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排氮化物：</label>
                <div class="col-sm-8">
                    <input name="reduceNitride" th:field="*{reduceNitride}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">累计节省电量：</label>
                <div class="col-sm-8">
                    <input name="saveElectricity" th:field="*{saveElectricity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减少用煤：</label>
                <div class="col-sm-8">
                    <input name="reduceCoal" th:field="*{reduceCoal}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/sondata";
        $("#form-sondata-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-sondata-edit').serialize());
            }
        }
    </script>
</body>
</html>