<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改大屏展示数据')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-zamanager-edit" th:object="${zaManager}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">总耗能：</label>
                <div class="col-sm-8">
                    <input name="yuez" th:field="*{yuez}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">累计节能量：</label>
                <div class="col-sm-8">
                    <input name="ljjnl" th:field="*{ljjnl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">节省金额：</label>
                <div class="col-sm-8">
                    <input name="jsje" th:field="*{jsje}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">节能率：</label>
                <div class="col-sm-8">
                    <input name="jnl" th:field="*{jnl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排二氧化碳：</label>
                <div class="col-sm-8">
                    <input name="cot" th:field="*{cot}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排硫化物：</label>
                <div class="col-sm-8">
                    <input name="sot" th:field="*{sot}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排烟尘：</label>
                <div class="col-sm-8">
                    <input name="nott" th:field="*{nott}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减排氮化物：</label>
                <div class="col-sm-8">
                    <input name="xuet" th:field="*{xuet}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">累计节电：</label>
                <div class="col-sm-8">
                    <input name="ljyd" th:field="*{ljyd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减少用煤：</label>
                <div class="col-sm-8">
                    <input name="jsym" th:field="*{jsym}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/zamanager";
        $("#form-zamanager-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-zamanager-edit').serialize());
            }
        }
    </script>
</body>
</html>