<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('news列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <input type="hidden" id="iddd">
                <table id="bootstrap-table"></table>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="txt_statu">消息内容：</label>
                                <iframe  style="resize:none;  height:165px"   name="txt_statu" class="form-control" id="txt_statu" readonly="readonly" ></iframe>
                                <button type="button" class="btn btn-default" data-dismiss="modal" ><span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="notsum();">关闭</span></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <script th:src="@{/numberone/js./refresh.js}"></script>
     <script th:inline="javascript">



       $(function () { $('#myModal').on('hide.bs.modal', function () {
           // var a =1;
           var idq=$("#iddd").val();
           location.href= "news/remove?ids="+idq;

            })
       });




        var editFlag = [[${@permission.hasPermi('system:news:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:news:remove')}]];
        var stateDatas = [[${@dict.getType('type_message')}]];
        var prefix = ctx + "system/news";

        $(function() {
            var options = {
                url: prefix + "/lists",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "news",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'noticeTitle', 
                    title : '公告标题'
                },
                {
                    field : 'createTime', 
                    title : '创建时间'
                },
                {
                    field : 'state', 
                    title : '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(stateDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs btn_cs" onclick="one('+row.id+')" ><i class="fa fa-edit"></i>查看</ a> ');
                        var d = new Date();
                        var str = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();
                        var dateTime = new Date(row.createTime);
                        var hour = dateTime.getHours();
                        var min = dateTime.getMinutes();
                        var sec = dateTime.getSeconds();
                        var yy = dateTime.getFullYear();
                        var dd = dateTime.getDate();
                        var mm = dateTime.getMonth()+1;
                        var time= yy + "-" + mm + "-" + dd ;
                        if (daysBetween(str,time)>10){
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="'+prefix+'/removenews?ids='+row.id+'" ><i class="fa fa-edit"></i>删除</ a>');
                        }else {
                            actions.push('<a class="btn btn-default btn-xs " href="#" ><i class="fa fa-edit"></i>删除</a>');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.intt(options);
        });
       function daysBetween(sDate1,sDate2){
           var time1 = Date.parse(new Date(sDate1));
           var time2 = Date.parse(new Date(sDate2));
           var nDays = Math.abs(parseInt((time2 - time1)/1000/3600/24));
           return nDays;
       };
        /*点击事件*/
        function one(id) {
            // $("#iddd").val('0');//赋值
            // var idq=$("#iddd").val();
            //
            // alert("先赋值为0"+idq);


            $("#iddd").val(id);//赋值
                // location.href= "news/remove?ids="+id;

                // var a = document.getElementById('idda');
                // // a.href = "www.xxx.com";
                //
                // a.href="news/remove?ids="+id;
                // alert(a.href);

                //内容
                var text = [] ;
                // var result = [];
                $.ajax({
                    type: "post",
                    url: "/system/news/lists?id="+id,
                    dataType: "json",
                    async: false,

                    success: function (results) {

                        var result = eval('results.rows');
                        // alert(result);

                        for (var i = 0; i < result.length; i++) {
                            text.push(result[i].noticeContent);

                        };
                        // alert(text);
                        // var texts = text.toString();
                        // texts.replace(/^\"|\"$/g,'');

                        //
                        // var res = text.replace(text, "$1");
                        // console.log(texts);

                        document.getElementById("txt_statu").srcdoc = text;


                        // var $textarea = $('textarea[name=txt_statu]');
                        // $textarea.val(text);
                        // var html = $textarea.val();
                        // $textarea.val($(html).text());



                        $('#myModal').modal();

                    },

                    error: function (errorMsg) {
                        alert("获取后台数据失败！");
                    }
                })
            // alert("下面调动模态框");


                // alert("调用模态框后");









             };

        function fid(){
            // var id=$("#iddd").val();

            // $('#myModal').modal();
            //
            // var idq=$("#iddd").val();
            // alert("获取值为"+idq);
            //
            // if(idq == 1){
            //     alert("如果能进来就是点击完关闭了");
            //     location.href= "news/remove?ids="+id;
            //     $("#iddd").val('0');//赋值
            //     alert("跳转完再赋值0");
            // };



            // var a = document.getElementById('idda');
            // alert(a.href);
            //
            //
            //
            //
            // window.location.href='news/remove?ids='+id;
            //
            //
            // location.href=a.href
            // alert(a.href);
            //
            // a=null;
        };


    </script>
</body>
</html>