<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>能源数据大屏展示</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts.min.js"
            th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts-liquidfill.js"
            th:src="@{/js/echarts-liquidfill.js}"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>

</head>
<body>
<div style="background-image: url('/back1.png'); color: #f5f5f5" th:src="@{/back1.png}">

    <div class="row">
        <div class="col-sm-3" style="border:solid 3px #ff0000; height: 700px">
            <div style="border:solid 2px #ffd500;height: 348px">用能汇总</div>
            <div style="border:solid 2px #e50f0f;height: 348px">
                用能占比
                <div id="main" style="width: 600px;height: 400px;"></div>
            </div>
        </div>
        <div class="col-sm-6" style="border:solid 3px #44ff00; height: 700px">
            <div style="border:solid 1px #0022ff; height: 80px">标题</div>
            <div style="border:solid 1px #a0a2b8; height: 615px">地图</div>

        </div>
        <div class="col-sm-3" style="border:solid 3px #f00; height: 700px">
            <div style="border:solid 1px #1ed428; height: 138px">基本情况</div>
            <div style="border:solid 1px #360303; height: 278px">减少排放污染物</div>
            <div style="border:solid 1px #d000ff; height: 278px">
                减少二氧化碳排放
                <div id="globe" style="width: 600px;height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" style="border:solid 1px #1e30d4; height: 380px">
            <div class="row">
                <div class="col-sm-8"><h4>用能排名</h4></div>

                <div class="btn-group col-sm-4">
                    <button type="button" class="btn btn-link" style="color: #fff;">水</button>
                    <button type="button" class="btn btn-link" style="color: #fff;">电</button>
                    <button type="button" class="btn btn-link" style="color: #fff;">气</button>
                </div>
            </div>
            <div id="xzuo" style="width: 480px;height: 355px">

            </div>
        </div>
        <div class="col-sm-6" style="border:solid 1px #ee0808; height: 380px">
            <div class="row">
                <div class="col-sm-10"><h4>用能对比曲线</h4></div>
                <div class="btn-group col-sm-2">
                    <button type="button" class="btn btn-link" style="color: #fff;">水</button>
                    <button type="button" class="btn btn-link" style="color: #fff;">电</button>
                    <button type="button" class="btn btn-link" style="color: #fff;">气</button>
                </div>
            </div>
            <div id="xzhong" style="width: 980px;height: 362px"></div>
        </div>
        <div class="col-sm-3" style="border:solid 1px #1e4bd4; height: 380px">
            减少煤使用（吨）
            <div id="one" style="width: 480px;height: 360px;"></div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    //用能排名图表


    var myChart = echarts.init(document.getElementById('xzuo'));
    var xAxisData = [];
    var yAxisData = [];
    $.ajax({
        type: "post",
        url: "/system/water/list",
        dataType: "json",
        async: false,
        success: function (result) {

            for (var i = 0; i < result.length; i++) {
                xAxisData.push(result[i].name);
                yAxisData.push(result[i].value);
            }

        },
        error: function (errorMsg) {
            alert("获取后台数据失败！");
        }
    })
    var option = {

        tooltip: {
            trigger: 'axis',
            backgroundColor: 'rgba(255,255,255,0.8)',
            extraCssText: 'box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);',
            textStyle: {
                color: '#6a717b',
            },

        },
        grid: {
            //设置图标距离
            top: "-0",
            left: "200",
            right: "20",
            bottom: "20"
        },
        yAxis: [{
            type: 'category',
            data: xAxisData,
            inverse: true,
            axisTick: {
                alignWithLabel: true,
                show: false


            },
            axisLabel: {
                margin: 10,
                textStyle: {
                    fontSize: 18,
                    color: 'white',
                    show: false,
                }
            },
            axisLine: {
                lineStyle: {
                    color: '#2548ac'
                }
            },

        }],
        xAxis: [{
            type: 'value',
            axisLabel: {
                margin: 10,
                interval: 1, //横轴信息全部显示
                rotate: -15, //-15度角倾斜显示
                textStyle: {
                    fontSize: 18,
                    color: 'white',
                }
            },
            axisLine: {
                lineStyle: {
                    color: '#192469'
                }
            },
            splitLine: {
                lineStyle: {
                    color: '#17367c'
                }
            }
        }],
        series: [{
            name: '用电',
            type: 'bar',
            barWidth: 20,
            data: yAxisData,
            label: {
                normal: {
                    show: true,
                    position: 'insideRight',
                    textStyle: {
                        color: 'blue', //color of value
                        fontSize: 18,
                    }
                }
            },
            itemStyle: {

                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                        offset: 0,
                        color: '#0590eb' // 0% 处的颜色
                    }, {
                        offset: 1,
                        color: '#08e3f1' // 100% 处的颜色
                    }], false),
                    barBorderRadius: [15, 15, 15, 15],
                    shadowColor: 'rgba(0,0,0,0.1)',
                    shadowBlur: 3,
                    shadowOffsetY: 3
                }
            }
        }]
    };
    myChart.setOption(option);


    /*下中间曲线图*/
    var xz = echarts.init(document.getElementById('xzhong'));

    option1 = {

        legend: {
            data: ['天桥大院', '航空邮件处理中心', '永安路大院', '新顺邮件处理中心', '北京站邮件处理中心', '北京国际邮件处理中心', '北京西站邮件处理中心', '北京综合邮件处理中心'],
            x: 'center',
            // y 设置垂直安放位置，默认全图顶端，可选值：'top' ¦ 'bottom' ¦ 'center' ¦ {number}（y坐标，单位px）
            y: 'top',
            textStyle: {
                color: '#fff',  // 图例文字颜色
                fontSize: 14,
            },
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        grid: {
            top: 25,
            bottom: 50,
            left: "40",
            right: "40",
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                onZero: false,
                lineStyle: {
                    color: "#fff"
                }
            },


            data: ['2016-1', '2016-2', '2016-3', '2016-4', '2016-5', '2016-6', '2016-7', '2016-8', '2016-9', '2016-10', '2016-11', '2016-12']
        },
        yAxis: {
            type: 'value',
            axisLine: {
                onZero: false,
                lineStyle: {
                    color: "#fff"
                }
            },
            splitLine:{
                show: false
            },//去除网格线

        },
        series: [  {
            name: '北京综合邮件处理中心',
            type: 'line',
            smooth: true,
            data: [20.9, 1.9, 7.0, 22.4, 121.7, 160.7, 75.6, 82.2, 38.7, 12.8, 6.0, 172.3]
        },
            {
                name: '北京西站邮件处理中心',
                type: 'line',
                smooth: true,
                data: [60.9, 1.9, 7.0, 22.4, 21.7, 60.7, 75.6, 82.2, 38.7, 12.8, 6.0, 72.3]
            },
            {
                name: '北京国际邮件处理中心',
                type: 'line',
                smooth: true,
                data: [90.9, 1.9, 7.0, 122.4, 21.7, 160.7, 75.6, 82.2, 38.7, 12.8, 6.0, 72.3]
            },
            {
                name: '北京站邮件处理中心',
                type: 'line',
                smooth: true,
                data: [30.9, 100.9, 170.0, 22.4, 121.7, 60.7, 75.6, 92.2, 38.7, 12.8, 130.0, 72.3]
            },
            {
                name: '新顺邮件处理中心',
                type: 'line',
                smooth: true,
                data: [160.9, 11.9, 125.0, 22.4, 61.7, 90.7, 25.6, 82.2, 38.7, 120.8, 6.0, 72.3]
            },
            {
                name: '永安路大院',
                type: 'line',
                smooth: true,
                data: [180.9, 1.9, 78.0, 22.4, 123.7, 60.7, 25.6, 82.2, 38.7, 12.8, 89.0, 72.3]
            },
            {
                name: '天桥大院',
                type: 'line',
                smooth: true,
                data: [100.6, 100.9, 20.0, 76.4, 48.7, 20.7, 75.6, 142.2, 78.7, 180.8, 16.0, 92.3]
            },
            {
                name: '航空邮件处理中心',
                type: 'line',
                smooth: true,
                data: [0.9, 20.9, 40.1, 10.7, 30.3, 60.2, 90.6, 60.6, 80.4, 70.4, 20.3, 30.7]
            },
        ],
        color:['#0379FF', '#FEA501', '#13E1E1']
    };
    xz.setOption(option1)


    //减少煤使用图表
    var myChart = echarts.init(document.getElementById('one'));
    var option = {
        xAxis: {
            type: 'category',
            axisLine: {
                lineStyle: {
                    color: '#FFF'
                }
            },
            data: ['天桥大院', '航空邮件处理中心', '永安路大院', '新顺邮件处理中心', '北京站邮件处理中心',
                '北京国际邮件中心', '北京西站邮件处理中心'],
            axisLabel: {
                rotate: 20 // 角度
            }
        },
        yAxis: {
            show: false
        },

        series: [{
            data: [120, 200, 150, 80, 70, 110, 130],
            type: 'bar',
            barWidth: 30,
            itemStyle: {
                emphasis: {
                    barBorderRadius: 30
                },
                normal: {
                    barBorderRadius: 30,
                    color: new echarts.graphic.LinearGradient(
                        0, 0, 0, 1,
                        [
                            {offset: 0, color: '#76EEC6'},
                            {offset: 1, color: '#CDCD00'}

                        ]
                    )
                }
            }
        }]
    };
    myChart.setOption(option);


    //减少二氧化碳排放图表
    var myChart = echarts.init(document.getElementById('globe'));
    var option = {
        title: {
            textStyle: {
                color: 'rgba(0, 0, 0, 0.45)',
                fontWeight: 'normal',
                fontSize: 10
            },
            subtextStyle: {
                color: 'rgba(0, 0, 0, 0.85)',
                fontSize: 20,
            }
        },
        series: [{
            type: 'liquidFill',
            radius: '80px',
            data: [0.66],
            center: ['55%', '20%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }, {
            type: 'liquidFill',
            radius: '80px',
            data: [0.36],
            center: ['10%', '20%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }, {
            type: 'liquidFill',
            radius: '80px',
            data: [0.12],
            center: ['25%', '20%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }, {
            type: 'liquidFill',
            radius: '80px',
            data: [0.53],
            center: ['40%', '20%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }, {
            type: 'liquidFill',
            radius: '80px',
            data: [0.53],
            center: ['10%', '45%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }, {
            type: 'liquidFill',
            radius: '80px',
            data: [0.53],
            center: ['25%', '45%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }, {
            type: 'liquidFill',
            radius: '80px',
            data: [0.53],
            center: ['40%', '45%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }, {
            type: 'liquidFill',
            radius: '80px',
            data: [0.53],
            center: ['55%', '45%'],
            color: ['#87CEFA'], // 水波颜色
            label: {
                show: false //百分号
            },
            outline: {
                show: true,//边框是否显示
                borderDistance: 1,//内边框间距
                itemStyle: {
                    borderColor: '#1890FF',//边框颜色
                    borderWidth: 2//边框半径
                }
            },
            backgroundStyle: {
                color: '#fff' // 球内背景色
            }
        }]
    };
    myChart.setOption(option);


    //用能占比图表
    var myChart = echarts.init(document.getElementById('main'));
    option = {
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },

        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: ['40%', '50%'],
                center: [200, 170],
                data: [
                    {value: 335, name: '天桥大院'},
                    {value: 310, name: '航空邮件处理中心'},
                    {value: 234, name: '永安路大院'},
                    {value: 135, name: '新顺邮件处理中心'},
                    {value: 248, name: '北京站邮件处理中心'},
                    {value: 948, name: '北京国际邮件中心'},
                    {value: 448, name: '北京西站邮件处理中心'},
                    {value: 152, name: '北京综合邮件处理中心'}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option);

</script>
</html>