<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>
<style>
    .top_text{
        margin: 50px;
        background-color: #FFFFFF;
        border-radius: 10px;
    }
    .top_text_title1{
        margin: 20px;
        color: #FFFFFF;
        border-radius: 30px;
        text-align: center;
    }
    .top_h3{
        padding-top: 20px;
    }
    .top_h1{
        display: inline-block;
        font-size: 450%;
    }
    .top_span{
        font-size: 30px;
    }
</style>

<body style="background-color: #EFEFF3;">
<div class="wrapper wrapper-content">

    <div class="row top_text">
        <div class="col-sm-4">
            <div class="top_text_title1" style="background-color:#40B1EE;">
                <div>
                    <h3 class="top_h3">本月总耗能</h3>
                </div>
                <div>
                    <h1 class="top_h1">40 886,200</h1><span class="top_span">tec</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="top_text_title1"style="background-color:#55B965;">
                <div>
                    <h3 class="top_h3">环比总耗能</h3>
                </div>
                <div>
                    <h1 class="top_h1">40 886,200</h1><span class="top_span">tec</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="top_text_title1"style="background-color:#0C8DCD;">
                <div>
                    <h3 class="top_h3">同比总耗能</h3>
                </div>
                <div>
                    <h1 class="top_h1">40 886,200</h1><span class="top_span">tec</span>
                </div>
            </div>
        </div>

    </div>


    <div class="row" style="margin: 30px;">
        <div class="col-sm-6">
            <div  style="border-radius: 5px; border: 1px solid #678FD9 ;">
                <div style="background-color: #678FD9;border-radius: 5px 5px 0px 0px;color: #FFFFFF;line-height: 50px;height: 50px;padding-left: 20px;padding: 0px;">
                    <span style="margin-left: 20px; font-size: 15px;" th:text="${msg}">2020年11月用能概括 </span>
                </div>
                <div style="height: 130px;">
                    表格
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div  style="border-radius: 5px; border: 1px solid #678FD9 ;">
                <div style="background-color: #678FD9;border-radius: 5px 5px 0px 0px;color: #FFFFFF;line-height: 50px;height: 50px;padding-left: 20px;padding: 0px;">
                    <span style="margin-left: 20px; font-size: 15px;" th:text="${msg1}">2020年11月用能占比 </span>
                </div>
                <div style="height: 130px;">

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 30px;">
        <div class="col-sm-12" >
            <div  style="border-radius: 5px; border: 1px solid #678FD9 ;">
                <div style="background-color: #678FD9;border-radius: 5px 5px 0px 0px;color: #FFFFFF;line-height: 50px;height: 50px;padding-left: 20px;padding: 0px;">
                    <span style="margin-left: 20px; font-size: 15px;" th:text="${msg2}">2020年11月用能趋势</span>
                </div>
                <div style="height: 130px;">
                    表格
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>

<th:block th:include="include :: sparkline-js" />
<script type="text/javascript">


</script>
</body>
</html>
