<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('单位用能Manager列表')"/>
    <script src="../../../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/js/echarts.min.js"
            th:src="@{/js/echarts.min.js}"></script>
</head>

<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">

                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
        <div id="totalFlowRate" style="height:300px;"></div>

    </div>
</div>

<th:block th:include="include :: footer"/>
<script th:inline="javascript">

    var prefix = ctx + "system/energy";

    $(function () {
        var options = {
            url: prefix + "/list",

            modalName: "单位用能Manager",
            columns: [{
                checkbox: true
            },
                {
                    field: 'productId',
                    title: '序号',
                    visible: false
                },
                {
                    field: 'energyUnits',
                    title: '用能单位'
                },
                {
                    field: 'productName',
                    title: '产品名称'
                },
                {
                    field: 'energyConsumptionType',
                    title: '能源分类'
                },
                {
                    field: 'energyConsumptionItemized',
                    title: '能耗分项'
                },
                {
                    field: 'time',
                    title: '时间'
                },
                {
                    field: 'theMonthPrice',
                    title: '本月值'
                },
                {
                    field: 'capacity',
                    title: '产量'
                },
                {
                    field: 'unitProductEnergy',
                    title: '单位产品能耗'
                },
                {
                    field: 'yAgoProduction',
                    title: '上年同期产量'
                },
                {
                    field: 'producEnergyCost',
                    title: '产品能耗费用'
                },
                {
                    field: 'unitProductEnergyCost',
                    title: '单位产品能耗费用'
                },
                {
                    field: 'yAgoValue',
                    title: '上年同期值'
                },
                {
                    field: 'unitProductEnergyYAgo',
                    title: '单位产品能耗上年同期'
                },
                {
                    field: 'producEnergyCostYAgo',
                    title: '产品能耗费用上年同期'
                },
                {
                    field: 'unitProductEnergyCostYAgo',
                    title: '单位产品能耗费用上年同期'
                },
            ]
        };
        $.table.init(options);
    });
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    myChart.setOption(option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '邮件营销',
            type: 'line',
            stack: '总量',
            data: [120, 132, 101, 134, 90, 230, 210]
        },
            {
                name: '联盟广告',
                type: 'line',
                stack: '总量',
                data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
                name: '视频广告',
                type: 'line',
                stack: '总量',
                data: [150, 232, 201, 154, 190, 330, 410]
            },
            {
                name: '直接访问',
                type: 'line',
                stack: '总量',
                data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
                name: '搜索引擎',
                type: 'line',
                stack: '总量',
                data: [820, 932, 901, 934, 1290, 1330, 1320]
            }
        ]
    });

    myChart.setOption(option);
</script>
</body>
</html>